---
import Layout from "../layouts/Layout.astro";
import { getContentByType } from "../services/ContentService";

export async function getStaticPaths() {
  // Define the content type you want to query.
  const contentType = "blogArticlePage";

  // Set pagination values.
  const skip = 0;
  const take = 100;

  // Retrieve the content items.
  const contentResponse = await getContentByType(contentType, skip, take);

  const pages = contentResponse.items.map((item) => {
    return {
      params: { path: item.route.path },
      props: { title: item.properties.title, content: item.properties.content },
    };
  });

  return pages;
}

// Receive the properties for the current page.
const { title, content } = Astro.props;
---

<Layout>
  <h1>{title}</h1>
  <div set:html={content.markup} />
</Layout>
