<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b34165a4-fc20-4c6b-81aa-a4ea9db2389d" Alias="compositionPageMetaData" Level="2">
  <Info>
    <Name>Composition: Page Meta Data</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88218068-b58b-4e82-8862-e1fbd2593846</Key>
      <Name>Canonical Content</Name>
      <Alias>canonicalContent</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If required, use the picker to choose another page on the site to be the canonical link.

Note: By default the canonical link will be set to this page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaData/canonicalLink">Canonical Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f69b9aa0-85e4-451d-a101-290cbf0b9991</Key>
      <Name>Canonical Link Url</Name>
      <Alias>canonicalLinkUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If a canonical link is required for an external page, use this text box to enter it.

Any content entered here will take president.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metaData/canonicalLink">Canonical Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51ef4158-3d06-4c09-8cb7-f2973dab5ea4</Key>
      <Name>Enable Open Graph</Name>
      <Alias>enableOpenGraph</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will generate a basic Open Graph meta tags based on the page meta data.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metaData/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c403f54-c96b-4d66-a4f3-b111086c8120</Key>
      <Name>Enable Structured Data</Name>
      <Alias>enableStructuredData</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will generate a basic structured data schema based on the above page meta data.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metaData/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>343264b8-3775-476e-b137-256c166d1604</Key>
      <Name>Hide From Search</Name>
      <Alias>hideFromSearch</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the page robots meta tag to 'noindex'.

If you require more advanced control, use the robots meta tag content property below.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metaData/pageMeta">Page Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4df4b664-1f9c-4c26-bb77-2c01b1267981</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metaData/pageMeta">Page Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1bfa3a62-a113-4609-bb35-092bcb92cc63</Key>
      <Name>Meta Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="metaData/pageMeta">Page Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b427fc0a-3516-4859-bdbc-be91f684894b</Key>
      <Name>Meta Title</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If empty, the page name will be used.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaData/pageMeta">Page Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b41cace-e3ab-4930-948f-85cf285b67cc</Key>
      <Name>Open Graph Description</Name>
      <Alias>openGraphDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will default to the page meta description]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="metaData/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5583fea9-914d-4021-ada3-0d75cfeb91d3</Key>
      <Name>Open Graph Image</Name>
      <Alias>openGraphImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="metaData/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e72dc623-a702-4c47-be31-d09a84d76114</Key>
      <Name>See: https://ogp.me</Name>
      <Alias>openGraphLabel</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaData/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5630a422-f8cb-4184-8d08-c08e092de741</Key>
      <Name>Open Graph Title</Name>
      <Alias>openGraphTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will default to the page meta title]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="metaData/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>20cb0072-cc1a-4887-8d5d-231b4c129132</Key>
      <Name>Open Graph Type</Name>
      <Alias>openGraphType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will default to 'article']]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metaData/openGraph">Open Graph</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de78e1b5-3537-4c57-b357-870678cdb8a4</Key>
      <Name>Structured Data Description</Name>
      <Alias>structuredDataDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will default to the page meta description]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="metaData/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>187fe6a1-fbbe-4771-afa3-a35ab8e159ea</Key>
      <Name>See: https://developers.google.com/search/docs/appearance/structured-data/intro-structured-data</Name>
      <Alias>structuredDataLabel</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaData/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13248217-0c84-426a-98ac-1dd26c738a3b</Key>
      <Name>Structured Data Name</Name>
      <Alias>structuredDataName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will default to the page meta title]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="metaData/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>536571be-c9b3-458a-b2d9-332dfd0a9ac0</Key>
      <Name>Structured Data Published Date</Name>
      <Alias>structuredDataPublishedDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will default to the page first published date]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="metaData/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0532d86e-2372-4ca8-b7b0-7475624a67a1</Key>
      <Name>Structured Data Type</Name>
      <Alias>structuredDataType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will default to 'Article']]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metaData/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3fd82d09-6c16-4479-8c91-7fbacb7fa784</Key>
      <Caption>Page Meta</Caption>
      <Alias>metaData/pageMeta</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>50912493-211a-403c-9087-c8128b180ecb</Key>
      <Caption>Open Graph</Caption>
      <Alias>metaData/openGraph</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8d647768-a800-4f80-aa3c-174f6a432546</Key>
      <Caption>Structured Data</Caption>
      <Alias>metaData/structuredData</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>ad2ac24e-f1f5-4365-9418-f21f4a7d8f7e</Key>
      <Caption>Meta Data</Caption>
      <Alias>metaData</Alias>
      <Type>Tab</Type>
      <SortOrder>99</SortOrder>
    </Tab>
    <Tab>
      <Key>d856a247-ad97-4ca0-9f58-0c437251c244</Key>
      <Caption>Canonical Link</Caption>
      <Alias>metaData/canonicalLink</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>