---
// Reference: https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default

import Layout from '../../layouts/Layout.astro';
import { render } from 'astro:content';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const exercises = await getCollection('workshopExercise');
  return exercises.map((exercise) => ({
    params: { slug: exercise.id },
    props: { exercise },
  }));
}

const { exercise } = Astro.props;
const { Content } = await render(exercise);
---

<Layout>
  <section class="mx-auto py-[70px] prose lg:prose-xl">
    <h1 class="mb-2 text-lg font-semibold">{exercise.data.title}</h1>
    <Content />
  </section>
</Layout>
