---
// Reference: https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default

import { render } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const exercises = await getCollection("workshopExercise");
  return exercises.map((exercise) => ({
    params: { slug: exercise.id },
    props: { exercise },
  }));
}

const { exercise } = Astro.props;
const { Content } = await render(exercise);
---

<h1>{exercise.data.title}</h1>
<Content />
