---
import { getCollection } from 'astro:content';
const workshopExercises = await getCollection('workshopExercise');
---

<h1>Workshop Exercises</h1>

<ul>
  {
    workshopExercises.map((exercise) => (
      <li>
        <a href={`/exercises/${exercise.id}`}>{exercise.data.title}</a>
      </li>
    ))
  }
</ul>
