<?xml version="1.0" encoding="utf-8"?>
<Media Key="53fca025-9e7b-4e3e-bf9c-0d81738640a5" Alias="Codegarden Confetti" Level="2">
  <Info>
    <Parent Key="bfadcb93-e9b7-410c-a40b-127b6ffa8a49">Images</Parent>
    <Path>/Images/CodegardenConfetti</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-30T12:19:55</CreateDate>
    <NodeName Default="Codegarden Confetti" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vjvlvzis/codegarden-confetti-2023.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>