<?xml version="1.0" encoding="utf-8"?>
<Media Key="10e33b56-df86-4e21-8fd8-f3284d296fea" Alias="Codegarden Pre-party" Level="2">
  <Info>
    <Parent Key="bfadcb93-e9b7-410c-a40b-127b6ffa8a49">Images</Parent>
    <Path>/Images/CodegardenPreParty</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-30T12:20:40</CreateDate>
    <NodeName Default="Codegarden Pre-party" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1hylljxp/codegarden-pre-party.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>