<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfadcb93-e9b7-410c-a40b-127b6ffa8a49" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-30T11:55:30</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>