<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cd63670-8e4c-434c-8d34-59c1a9d3eecc" Alias="jackson_prendergast_-_build_your_own_developer_blog_with_umbraco_15_astro_861281.png" Level="2">
  <Info>
    <Parent Key="bfadcb93-e9b7-410c-a40b-127b6ffa8a49">Images</Parent>
    <Path>/Images/jackson_prendergast__build_your_own_developer_blog_with_umbraco_15_astro_861281png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-10T15:04:43</CreateDate>
    <NodeName Default="jackson_prendergast_-_build_your_own_developer_blog_with_umbraco_15_astro_861281.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5032967368325034,
    "top": 0.7478021894182477
  },
  "crops": [],
  "src": "/media/554jborf/jackson_prendergast_-_build_your_own_developer_blog_with_umbraco_15_astro_861281.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>