<?xml version="1.0" encoding="utf-8"?>
<Media Key="33f07d17-2193-42e6-bd55-fc9d0d47cb17" Alias="Markdown Image.png" Level="2">
  <Info>
    <Parent Key="bfadcb93-e9b7-410c-a40b-127b6ffa8a49">Images</Parent>
    <Path>/Images/MarkdownImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-23T08:39:38</CreateDate>
    <NodeName Default="Markdown Image.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tc1lnbp0/markdown-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>