---

---

<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-8">
    <div class="flex items-center justify-between py-6">
      <div class="flex-shrink-0">
        <a href="/">
          <h1 class="text-2xl font-bold text-gray-900">My Dev Blog</h1>
        </a>
      </div>
    </div>
  </div>
</header>
