<?xml version="1.0" encoding="utf-8"?>
<Content Key="01fc19bc-7b86-4ec7-a891-5e3779aac88a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-04-07T13:03:18</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <canonicalLinkUrl>
      <Value><![CDATA[]]></Value>
    </canonicalLinkUrl>
    <enableOpenGraph>
      <Value><![CDATA[0]]></Value>
    </enableOpenGraph>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <openGraphType>
      <Value><![CDATA[]]></Value>
    </openGraphType>
  </Properties>
</Content>