<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5717b95-c14c-4f2f-b8fb-621d8ee41682" Alias="Blog Components" Level="2">
  <Info>
    <Name>Blog Components</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8974e290-597b-41e8-a5a0-ca0e92221a58",
      "label": "Rich Text | {=richText | strip-html | word-limit:15}...",
      "backgroundColor": "#00000000"
    },
    {
      "contentElementTypeKey": "4ef2756a-7ca0-4384-9172-62317de47e70",
      "label": "Image"
    },
    {
      "contentElementTypeKey": "0b8bb485-6cc8-409a-9f9f-6f6b80eb9947",
      "label": "Quote | {=quote|word-limit:15}..."
    },
    {
      "contentElementTypeKey": "778f3d2e-0208-4b35-acbe-44f2badc4688",
      "label": "Code Snippet | Language: \u0027{=codeSnippetSyntax}\u0027 | {=codeSnippet | word-limit:15}"
    },
    {
      "contentElementTypeKey": "2042c045-f54e-42e8-a0c6-e79f5d03bf6d",
      "label": "Markdown | {=markdown | word-limit:15}"
    }
  ]
}]]></Config>
</DataType>