<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d7045f8-e8a6-44cc-a533-a64e20fe2321" Alias="Code Syntax Type" Level="2">
  <Info>
    <Name>Code Syntax Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "cshtml",
    "html",
    "javascript",
    "typescript",
    "json",
    "yaml",
    "xml",
    "python",
    "rust"
  ]
}]]></Config>
</DataType>