<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3737c7cc-1ed4-41be-9ce7-0e43b724efc8" Alias="Code Snippet" Level="2">
  <Info>
    <Name>Code Snippet</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "fontSize": "small",
  "maxLines": 0,
  "minLines": 12,
  "mode": "typescript",
  "theme": "chrome",
  "useWrapMode": false
}]]></Config>
</DataType>