---
import { getFinalUrlSegment } from "../../helpers/AppHelpers";
import {
  getAllContentByType,
  getPagedContentByType,
} from "../../services/ContentService";

export async function getStaticPaths() {
  // TODO:
  // Implement BlockList Renderer with Typed Blocks
  // Sort 'never' Type issue with generated Hey Api - see https://github.com/hey-api/openapi-ts/issues/1931

  const contentType = "blogArticlePage";

  // Retrieve all content items using the refactored function.
  const items = await getAllContentByType(contentType);

  // Map the full list of items into the page parameters.
  const pages = items.map((item) => {
    return {
      params: { article: getFinalUrlSegment(item.route.path) },
      props: {
        title: item.properties.title,
        content: item.properties.content,
        components: item.properties.components?.items,
      },
    };
  });

  return pages;
}

const { title, content, components } = Astro.props;
---

<h1>{title}</h1>
<div set:html={content.markup} />

{
  components?.map((component) => (
    <li>{component.content?.properties?.richText?.markup}</li>
  ))
}
