<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3abf0027-c453-49ad-a74f-198f4f384d5c" Alias="Markdown Editor" Level="1">
  <Info>
    <Name>Markdown Editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>