---
import type { BundledLanguage } from 'shiki';
import { Code } from 'astro-expressive-code/components';
import type {
  ApiBlockListModelItemsItem,
  CodeSnippetComponentElementModel,
} from '../../umbraco-client/model';

interface Props {
  block: ApiBlockListModelItemsItem;
}

const { block } = Astro.props;

const content = block.content as CodeSnippetComponentElementModel;
const syntax = content.properties?.codeSnippetSyntax as BundledLanguage;
const codeSnippet = content.properties?.codeSnippet;
---

<div class="my-6 p-6 bg-[#282A36]">
  <Code code={codeSnippet || ''} lang={syntax || 'js'} />
</div>
