---
import { markdown } from '@astropub/md'
import type {
  ApiBlockListModelItemsItem,
  MarkdownComponentElementModel,
} from '../../umbraco-client/model';

import { getCollection, render } from 'astro:content';

interface Props {
  block: ApiBlockListModelItemsItem;
}

const { block } = Astro.props;
const content = block.content as MarkdownComponentElementModel;

const contentAsString = content?.properties?.markdown ?? ''

---

<h1>hi</h1>
<div
class="prose prose-li:list-decimal py-5 text-base leading-relaxed text-body-color dark:text-dark-6">
  {await markdown(contentAsString)}
</div>
