---
import type {
  ApiBlockListModelItemsItem,
  QuoteComponentElementModel,
} from '../../umbraco-client/model';

interface Props {
  block: ApiBlockListModelItemsItem;
}

const { block } = Astro.props;

const content = block.content as QuoteComponentElementModel;
---

<figure class="mt-10 border-l border-indigo-600 pl-9">
  <blockquote class="font-semibold text-gray-900">
    <p>
      “{content.properties?.quote}”
    </p>
  </blockquote>
  <figcaption class="mt-6 flex gap-x-4">
    <div class="text-sm/6">
      <strong class="font-semibold text-gray-900">{content.properties?.author}</strong>
    </div>
  </figcaption>
</figure>
