<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fe82e18-f9dd-4dd0-871c-b6699e0b3d14" Alias="Article 2" Level="3">
  <Info>
    <Parent Key="b780a7bf-f06f-4ead-9097-70912d3b2b0b">Blog</Parent>
    <Path>/Home/Blog/Article2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticlePage</ContentType>
    <CreateDate>2025-04-07T13:03:50</CreateDate>
    <NodeName Default="Article 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum vitae velit nec suscipit. Nulla facilisi. Suspendisse nec magna eget quam sagittis sollicitudin nec nec lectus. Quisque porttitor tincidunt arcu, non tincidunt nisl feugiat non.\u003C/p\u003E\u003Cp class=\u0022\u0022 data-start=\u0022939\u0022 data-end=\u00221132\u0022\u003EPraesent ut sem et justo fermentum dapibus. In ac nisi ac ipsum finibus dignissim. Sed nec lectus vel justo fermentum cursus. Phasellus rutrum elit ac magna luctus, ac tincidunt nisl tincidunt.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </content>
    <title>
      <Value><![CDATA[Article 2]]></Value>
    </title>
  </Properties>
</Content>