<?xml version="1.0" encoding="utf-8"?>
<Content Key="45ad3786-1bde-40f1-afb5-1f38fb89e319" Alias="Article 3" Level="3">
  <Info>
    <Parent Key="b780a7bf-f06f-4ead-9097-70912d3b2b0b">Blog</Parent>
    <Path>/Home/Blog/Article3</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticlePage</ContentType>
    <CreateDate>2025-04-07T13:03:57</CreateDate>
    <NodeName Default="Article 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <richText>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut sapien sed eros cursus convallis. Curabitur eget augue ut lacus tincidunt pretium. Sed euismod lorem non sem tincidunt, vitae vehicula elit posuere. Ut id enim nec risus facilisis sagittis. Maecenas convallis lacus at nisl vehicula, vel elementum nulla lacinia.\u003C/p\u003E\u003Cp class=\u0022\u0022 data-start=\u0022448\u0022 data-end=\u0022638\u0022\u003EVivamus vitae orci vitae tellus sodales efficitur. Pellentesque vitae ligula lorem. Ut vehicula massa at diam efficitur congue. Morbi blandit magna a dui fermentum, at tempus diam consequat.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </richText>
    <summaryDescription>
      <Value><![CDATA[]]></Value>
    </summaryDescription>
    <title>
      <Value><![CDATA[Article 3]]></Value>
    </title>
  </Properties>
</Content>