<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fe82e18-f9dd-4dd0-871c-b6699e0b3d14" Alias="Article 2" Level="3">
  <Info>
    <Parent Key="b780a7bf-f06f-4ead-9097-70912d3b2b0b">Blog</Parent>
    <Path>/Home/Blog/Article2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticlePage</ContentType>
    <CreateDate>2025-04-07T13:03:50</CreateDate>
    <NodeName Default="Article 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[]]></Value>
    </components>
    <summaryDescription>
      <Value><![CDATA[]]></Value>
    </summaryDescription>
    <title>
      <Value><![CDATA[Article 2]]></Value>
    </title>
  </Properties>
</Content>