<?xml version="1.0" encoding="utf-8"?>
<Content Key="b780a7bf-f06f-4ead-9097-70912d3b2b0b" Alias="Blog" Level="2">
  <Info>
    <Parent Key="01fc19bc-7b86-4ec7-a891-5e3779aac88a">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListingPage</ContentType>
    <CreateDate>2025-04-07T13:03:28</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>