<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0e36563-314c-4bc0-a006-1f3fd695ff01" Alias="Dev Blog Workshop" Level="3">
  <Info>
    <Parent Key="b780a7bf-f06f-4ead-9097-70912d3b2b0b">Blog</Parent>
    <Path>/Home/Blog/DevBlogWorkshop</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticlePage</ContentType>
    <CreateDate>2025-04-08T15:52:41</CreateDate>
    <NodeName Default="Dev Blog Workshop" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EThis is going to be great!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </content>
    <title>
      <Value><![CDATA[Dev Blog Workshop - Happening today!]]></Value>
    </title>
  </Properties>
</Content>