<?xml version="1.0" encoding="utf-8"?>
<Content Key="cce50aea-e003-46a0-90fa-d0e9edf7d636" Alias="Markdown test" Level="3">
  <Info>
    <Parent Key="b780a7bf-f06f-4ead-9097-70912d3b2b0b">Blog</Parent>
    <Path>/Home/Blog/MarkdownTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticlePage</ContentType>
    <CreateDate>2025-05-22T23:08:25</CreateDate>
    <NodeName Default="Markdown test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <canonicalLinkUrl>
      <Value><![CDATA[]]></Value>
    </canonicalLinkUrl>
    <components>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2042c045-f54e-42e8-a0c6-e79f5d03bf6d",
      "key": "4c5f0e46-f286-481e-b1a2-6550c7ac6bb8",
      "udi": null,
      "values": [
        {
          "alias": "markdown",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "# Hi\r\nThis is Markdown\r\n\r\n\u0060\u0060\u0060python title=\u0022Python File\u0022\r\nprint(\u0022hello world!\u0022)\r\n\u0060\u0060\u0060"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4c5f0e46-f286-481e-b1a2-6550c7ac6bb8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4c5f0e46-f286-481e-b1a2-6550c7ac6bb8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <enableOpenGraph>
      <Value><![CDATA[]]></Value>
    </enableOpenGraph>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphDescription>
      <Value><![CDATA[]]></Value>
    </openGraphDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <openGraphLabel>
      <Value><![CDATA[]]></Value>
    </openGraphLabel>
    <openGraphTitle>
      <Value><![CDATA[]]></Value>
    </openGraphTitle>
    <openGraphType>
      <Value><![CDATA[]]></Value>
    </openGraphType>
    <richText>
      <Value><![CDATA[]]></Value>
    </richText>
    <summaryDescription>
      <Value><![CDATA[]]></Value>
    </summaryDescription>
    <summaryImage>
      <Value><![CDATA[[
  {
    "key": "a8fd2a57-ac00-47ac-b4e9-748fd1a3b670",
    "mediaKey": "33f07d17-2193-42e6-bd55-fc9d0d47cb17",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </summaryImage>
    <title>
      <Value><![CDATA[Markdown test]]></Value>
    </title>
  </Properties>
</Content>